.my-label-item{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.label-input {
   width:100%
    
}

.label-box{
    margin-top: 16px;
   
}