.nav-bar{
    position: 'fixed';
    z-index: 1;
    width: '100%' ;   
}
.nav-bar-container{
    display: flex;
    flex-direction: row; 
    align-items: center;
    width:100vw;
    justify-content: space-around;   
    
}
.nav-bar-container button{
  margin-left: 100px;

}

.logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.2);
  }
  .site-layout-content{
      /* padding: 50px; */
      margin-top:64px;
      background-color: cadetblue;
      min-height: 90vh;

  }
  .content-tag{
      margin-bottom: 16px;
      align-self: flex-start;

  }
