.post-page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;


}

.post-form{
    height: 90vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.post-form form{
    width: 80%;
}