@import '~antd/dist/antd.css';
.App {
  text-align: center;
  height:100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

html{
  /* rem em 
  em parent elements;
  rem root elemetns
  16*62.5%=10px
  1 rem===10px
  */
  font-size: 62.5%;
}
html body #root .App{
  min-height: 100vh;
}




